
*{
  margin:0;
  padding:0;
}

.App{
  min-height: calc(95vh);
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content-div{

  display: flex;
  color: white;
}

.flex-content{
  padding:3rem;
  width:50%;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
  text-align: justify;
}

.flex-content h1{
  font-weight: 500;
  padding: 20px 0;
  color: #61dafb;
}